.textfield-container {
  display: flex;
  justify-content: center;
  padding: 26px;
  border-bottom: 1px solid #F2F2F2;
}

.textfield {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  color: #827A8A;
  border: none;
  outline: none;
}

.selected-empty-element {
  position: relative;
}
.selected-empty-element:after {
  content: "Type / for commands";
  color: #aaa;
  position: absolute;
  top: 0;
}
